<div class="side-menu" >
    <a href="/admin/dashboard" class="side" >
      <li class="selected sideitems"><i class="ri-dashboard-3-line"></i>DashBoard</li>
    </a>
    <a href="/admin/order"class="side">
      <li class="sideitems"><i class="ri-shopping-bag-fill"></i> Orders</li>
    </a>
    <a href="/admin/product"class="side">
      <li class="sideitems"><i class="ri-shopping-cart-2-fill"></i> Products</li>
    </a>
    <a href="/admin/user" class="side">
      <li class="sideitems"><i class="ri-user-fill"></i> Users</li>
    </a>
    <a href="/admin/banned" class="side">
      <li class="sideitems"><i class="ri-indeterminate-circle-fill"></i> Banned Users</li>
    </a>
    <a href="/admin/category" class="side">
      <li class="sideitems"><i class="ri-dashboard-fill"></i> Category</li>
    </a>
    <a href="/admin/offers" class="side">
      <li class="sideitems"><i class="ri-coins-line"></i> Offers</li>
    </a>
    <a href="/admin/coupons" class="side">
      <li class="sideitems"><i class="ri-coupon-3-line"></i> Coupons</li>
    </a>
    <a href="/admin/sales-report" class="side">
      <li class="sideitems"><i class="ri-numbers-line"></i> Sales Report</li>
     
    </a>
  </div>